{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main_content">

    <section class="sections" id="sections">
    <h1>Sections You May Visit</h1>
    <p>It is recommended to navigate through website using laptop/pc</p>
    <div class="container-sections">
        <div class="row-sections">
            <div class="course-col">
            <h3 class="th1">Forums</h3>
            <p class="textp">Chatting in forums you have to keep yourself respectful to others.
            Also you have time limit which you may manage. Forums are designed in
            this way in order to keep you concentrated on your goals.</p>
        </div>
        <div class="course-col">
            <h3 class="th1">Diary</h3>
            <p class="textp">There are numerous option of journalizing, the one the website
                has is no different from others. Except for the ability to create diary post
            only once a day.</p>
        </div>
        <div class="course-col">
            <h3 class="th1">Articles</h3>
            <p class="textp">It is a great opportunity to write out your thoughts or researchers.
                To highlight the text use /** text **/
            </p>
        </div>
        </div>
    </div>
</section>
</div>
{% endblock %}