{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}    
{% block content %}


        <div class="main_content">

            <!-- Image and Description -->
            <div class="upper_content">
                <div class="real_upper_content">
                    {% if categoryy %}
                        <h2 class="stagger-it" data-splitting>Posts with category {{categoryy.title}}</h2>
                    {% elif keywords %}
                        <h2 class="stagger-it" data-splitting>Posts with keywords {{keywords}}</h2>
                    {% elif keywords %}
                        <h2 class="stagger-it" data-splitting>Posts with keywords {{keywords}}</h2>
                    {% else %}
                        <h2 class="stagger-it" data-splitting>Random Articles</h2>
                    {% endif %}
                    <div class="search_bar">
                        <form method="GET" action="{% url 'search_article_post' %}">
                            {% csrf_token %}
                                <i class="fa fa-search">
                                <input type="text" placeholder="Search here..." id="keywords" name="keywords">
                                <button type="submit" class="button">Search</button>
                            </i>
                        </form>
                    </div>
                    
                    
                </div>
                <p>It is a great opportunity to write out your thoughts or researchers.
                    To highlight the text use /** text **/ </p>
                <ul class="filter_buttons">
                        <li><a href="{% url 'create_article' %}">Create Article</a></li>
                        <li><a href="{% url 'articles_sort' 'newest' %}" id="newest">Newest</a></li>
                        <li><a href="{% url 'articles_sort' 'oldest' %}" id="oldest">Oldest</a></li>
                </ul>
                <div class="clearing"></div>
            </div>

            <!-- Posts  -->
            {% if posts %}
            <div class="articles">
                    <section class="section">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                    <div class="page-wrapper">
                                        <div class="blog-top clearfix">
                                        </div><!-- end blog-top -->
                                                {% for post in posts %}
                                            <div class="blog-list clearfix">
                                                <div class="blog-box row">
                                                    <div class="col-md-4">
                                                        <div class="post-media">
                                                            <a href="{% url 'article_details' post.slug %}" title="">
                                                                <img src="{% static 'images/avatar.jpg' %}" alt="" class="img-fluid">
                                                                <div class="hovereffect"></div>
                                                            </a>
                                                        </div><!-- end media -->
                                                    </div><!-- end col -->
                
                                                    <div class="blog-meta big-meta col-md-8">
                                                        <h4><a href="{% url 'article_details' post.slug %}" title="" data-splitting>{{post.title}}</a></h4>
                                                        {% if post.length < 1000 %}
                                                            <p>{{post.content}}</p>
                                                        {% else %}
                                                            <p>{{post.content|slice:999}}...</p>
                                                        {% endif %}
                                                        {% for v in post.get_category %}
                                                        <small class="firstsmall"><a class="bg-orange" href="{% url 'category_articles' v.slug %}" title="">{{v.title}}</a></small>
                                                        {% endfor %}
                                                        <small><a href="tech-single.html" title="">{{post.date}}</a></small>
                                                        <small><a href="tech-author.html" title="">by {{post.article_users}}</a></small>
                                                    </div><!-- end meta -->
                                                </div><!-- end blog-box -->
                
                                                <hr class="invis">
                                                {% endfor %}
                                            </div><!-- end blog-list -->
                                        </div><!-- end page-wrapper -->
                                        <hr class="invis">
                                    </div><!-- end col -->        
                                </div><!-- end row -->
                            </div><!-- end container -->
                        </section>
                    </div>
        {% else %}
        <div class="not_found_text">
            <img class="not_found" src="{% static 'images/undraw_walking_in_rain_o2e3.svg' %}" alt="logo">
            <p>No posts have been found</p>
            <br>
            <a href="" class="not_found_link">Create Post</a>
        </div>
        {% endif %}
        <div class="pagination">
            {% if posts.has_other_pages %}
                {% if posts.has_previous %}
                    <a href=""><i class="fa fa-angle-double-left"></i></a>
                    <a href="?page={{ posts.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                {% else %}
                    <a onclick="return false" href=""><i class="fa fa-angle-double-left"></i></a>
                    <a onclick="return false" href=""><i class="fa fa-angle-left"></i></a>
                {% endif %}
                {% for post in posts.paginator.page_range %}
                    {% if listings.number == post %}
			            <a href="" class="active">1</a>
                    {% elif post > posts.number|add:'-3' and post < posts.number|add:'3' %}
                        <a href="?page={{post}}">{{post}}</a>
                    {% endif %}
                {% endfor %} 
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                    <a href=""><i class="fa fa-angle-double-right"></i></a>
                {% else %}
                    <a onclick="return false" href=""><i class="fa fa-angle-right"></i></a>
                    <a onclick="return false" href=""><i class="fa fa-angle-double-right"></i></a>
                {% endif %}

            {% endif %}
        </div>
    </div>
    <div class="down_section">
        <div class="categories cts_container">

            <p>Popular categories</p>
            <ul>
                {% for category in categories %}
                    <li><a href="{% url 'category_articles' category.slug %}">{{category.title}}</a>
                        <div class="cts_container_left">
                            <p>{{category.num_posts}}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="active_threads cts_container">
            <p>Your active threads</p>
            <ul>
                {% if user.is_authenticated %}
                          {% if all_posts %}            
                              {% for post in all_posts %}
                                  {% if post.user == user.author %}
                                      <li><a href="{% url 'details' post.slug %}">{{post.title|slice:":40"}}<span class="badge pull-right">{{ct}}</span></a>\
                                        <div class="cts_container_left clearfix">
                                            <p>{{post.upvotes}}</p>
                                        </div>
                                    </li>
                                  {% endif %}
                              {% endfor %}
                            {% else %}
                            <div class="not_found_text">
                                <img class="not_found" src="{% static 'images/undraw_walking_in_rain_o2e3.svg' %}" alt="logo">
                                <p>You have no active posts</p>
                                <p>or you have not registered yet</p>
                                <br>
                                <a href="" class="not_found_link">Create Post</a>
                            </div>
                          {% endif %}
                      {% else %}
                      <div class="not_found_text">
                        <img class="not_found" src="{% static 'images/undraw_walking_in_rain_o2e3.svg' %}" alt="logo">
                        <p>You have no active posts</p>
                        <p>or you have not registered yet</p>
                        <br>
                        <a href="" class="not_found_link">Create Post</a>
                    </div>
                    {% endif %}
                    
            </ul>
        </div>
    </div>
    <script> Splitting(); </script>
</body>

{% endblock %}