{% extends 'base.html' %}
{% load hitcount_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %} 
{% block content %}

    <div class="container-fluid">
        <section class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8">

                        <div class="form-group">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="centered_create_post">
                                    <div class="form-group">
                                        <label for="{{ form.title.id_for_label }}"></label>
                                        {{ form.title }}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.content.id_for_label }}"></label>
                                        {{ form.content }}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.categories.id_for_label }}"></label>
                                        {{ form.categories }}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.article_tags.id_for_label }}"></label>
                                        {{ form.article_tags }}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.article_image.id_for_label }}"></label>
                                        {{ form.article_image }}
                                    </div>
                                        <div class="pull-left"><button type="submit" class="btn_create_post">Update Post</button></div>
                                </div>
                                        <div class="clearfix"></div>
                        </div>
                                    <div class="clearfix"></div>
                            </form>
                    </div>
                </div>
            </div>
            </section>           
        {% include 'partials/_footer.html' %}
    </div>

    <!-- get jQuery from the google apis -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>

    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <script src="js_forum/bootstrap.min.js"></script>


    <!-- LOOK THE DOCUMENTATION FOR MORE INFORMATIONS -->
    <script type="text/javascript">

        var revapi;

        jQuery(document).ready(function() {
            "use strict";
            revapi = jQuery('.tp-banner').revolution(
                    {
                        delay: 15000,
                        startwidth: 1200,
                        startheight: 278,
                        hideThumbs: 10,
                        fullWidth: "on"
                    });

        });	//ready

    </script>
    <!-- END REVOLUTION SLIDER -->
{%endblock%}